@import "tailwindcss";

@theme {
  --font-perfect-shot-title: BMarmy, "Space Grotesk", sans-serif;
  --font-perfect-shot-text: superstar_memesbruh03, "Space Grotesk", sans-serif;
}

* {
  text-transform: uppercase;
}

@font-face {
  font-family: "BMarmy";
  src: url("../fonts/BMarmy.TTF") format("truetype");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "superstar_memesbruh03";
  src: url("../fonts/superstar_memesbruh03.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
